//------------
//- VARIABLES -
//------------
//

/** ==================
** -----COLORS-----
** ===================  */

$main-pink: #FE7F8A;
$main-blue: #70d6ff;
$main-db: #3B038E;
$main-yellow: #FFCA30;
$main-green: #0ECECD;
$main-dark: #737373;
$main-bg: #fff;
$main-transition:all .2s linear;
$main-title-lg :1.5rem;
$main-title-md :1.8rem;
$main-title-sm :1rem;
$main-text:1rem;


/** ====================== 
** -----PROGRESS PIE-----
** ====================== */
$circular-margin: 10px;
$break-small: 320px;
$break-large: 1100px;